.about-us__title {
  .null-indents();
  font-weight: normal;
  font-size: 30px;
  color: @dark-title-color;
  text-transform: uppercase;
}

.about-us__contant {
  .null-indents();
  font-family: @additional-font;
}