.about-us__title {
  .common-title();
  .common-padding();
}

.about-us__contant {
  .null-indents();
  .common-padding();
  font-family: @additional-font;
  text-align: justify;
  margin-bottom: 50px;
}

.about-us {
  margin-bottom: 50px;
  box-sizing: border-box;
  .desktop-width-mixin();
}