.main-nav__toggle-wrapper {
  position: relative;
  z-index: 2;
}

.main-nav__list {
  .null-indents-list();
  position: relative;

  @media (min-width: @desktop-width) {
    display: flex;
    width: @desktop-width;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 30px 20px 30px 20px;
  }
}

.main-nav__item {
  @media (max-width: @mobile-and-table-only-width) {
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
    background-color: @dark-color;
    border-bottom: 1px solid @bright-dark-color;
    box-shadow: inset 0 1px 1px #485461;
  }
}

.main-nav__item a {
  display: block;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  @media (min-width: @desktop-width) {
    font-size: 20px;
  }
  &:hover,
  &:focus {
    color: @button-color;
  }
}

.main-nav__toggle-wrapper {
  display: flex;
  height: 40px;
  justify-content: flex-end;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  background-color: rgba(41, 52, 73, 0.7);
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__toggle {
  .null-indents();
  height: 30px;
  width: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  & .main-nav__toggle-image {
    position: absolute;
    top: 0px;
  }

  & svg {
    width: 30px;
    height: 30px;
    fill: #FFFFFF;
  }
}

.main-nav--no-js {
  & .main-nav__toggle {
    display: none;
  }
}

.main-nav--closed {

  & .main-nav__toggle-image--close {
    display: none;
  }
}

.main-nav--opened {
  & .main-nav__toggle-image--open {
    display: none;
  }

  .main-nav__toggle {
    & .main-nav__toggle-image {
      top: 5px;
    }
    & svg {
      width: 20px;
      height: 20px;
      fill: #FFFFFF;
    }
  }
}