.slider__list {
  .null-indents-list();
  margin: 0 auto;
  position: relative;
}

.slider__navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.slider__item {  
  transition: all .5s;
}

.slider__item--hidden {
  position: absolute;
  top: 0;
  left: -5000px;
  opacity: 0;
}