.work-hours {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  width: 200px;
  & svg {
    position: absolute;
    width: 40px;
    height: 25px;
    fill: @dark-color;
    left: -22px;
    top: -3px;
  }
}