body {
  .null-indents();
  font-family: @main-font;
  background-color: @body-background-color;
  font-size: 20px;
  min-width: 400px;
}/*
::-moz-focus-outer, ::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  outline: none;
}
*/
h1, h2, h3, h4, h5, h6, p, ul, li {
  .null-indents();
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

.button {
  .button();
}

.title {
  font-size: 40px;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: auto;
}

#toTop {
  position: fixed;
  right: 20px;
  bottom: 50px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 87, 83, 0.8);
  .null-indents();
  & svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
  }

  &:hover,
  &:focus {
    background-color: @dark-button-color;
  }
}
