.null-indents() {
  margin: 0;
  padding: 0;
}

.null-indents-list() {
  list-style: none;
  .null-indents();
}

.common-title(@_title_color: @dark-title-color, @_line_color: @bright-dark-color, @_gradient_color: #FFFFFF) {
  .null-indents();  
  font-weight: normal;
  font-size: 30px;
  color: @_title_color;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 300px;
    height: 2px;
    background-image: linear-gradient(to right, @_gradient_color, @_line_color, @_gradient_color);
  }
}

.additional-title(@_color: #000000) {
  font-family: @additional-font;
  font-weight: 700;
  font-size: 24px;
  color: @_color;
}

.common-padding() {
  padding-left: 10px;
  padding-right: 10px;
}
